.front-page-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;

  /* ensure content column can push footer to the bottom */
  box-sizing: border-box;
}

.front-page-front-page {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--dl-color-background-background1);
}

.front-page-navigation {
  gap: 114px;
  display: flex;
  padding: 0 0 120px;
  position: relative;
  align-self: stretch;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
  background-color: rgba(225, 199, 143, 1);
}

.front-page-blackand-white-vintage-minimalist-clean-coffee-circle-foo {
  left: 52px;
  width: 106px;
  bottom: 32px;
  height: 106px;
  z-index: 1;
  position: absolute;
}

.front-page-menuitems {
  width: 352px;
  height: 50px;
  display: flex;
  padding: 0 200px 0 0;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}

.front-page-nav-item {
  gap: 8px;
  width: 140px;
  height: 37px;
  display: flex;
  padding: 0 50px 0 4px;
  align-items: center;
  flex-shrink: 0;
}

.front-page-text10 {
  color: rgba(64, 55, 28, 1);
  height: auto;
  text-align: center;
  line-height: 110.00000238418579%;
}

.front-page-nav-item2 {
  gap: 8px;
  display: flex;
  padding: 0 50px 0 4px;
  align-items: center;
}

.front-page-text11 {
  color: rgba(64, 55, 28, 1);
  height: auto;
  text-align: left;
  line-height: 110.00000238418579%;
}

.front-page-link1 {
  display: contents;
}

.front-page-nav-item3 {
  gap: 8px;
  display: flex;
  padding: 0 4px;
  align-items: center;
}

.front-page-text12 {
  color: rgba(64, 55, 28, 1);
  height: auto;
  text-align: left;
  line-height: 110.00000238418579%;
}

.front-page-hero {
  display: flex;
  padding: 0 50px 40px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.front-page-textcontent1 {
  gap: 20px;
  display: flex;
  padding: 0 0 100px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}

.front-page-textandlinks {
  gap: 80px;
  width: 580px;
  display: flex;
  padding: 150px 63px 10px 0;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.front-page-buttons1 {
  gap: 10px;
  display: flex;
  padding: 230px 0 0;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}

.front-page-text13 {
  top: -55px;
  color: rgba(64, 55, 28, 1);
  font-size: 24px;
  width: 510px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 110.00000238418579%;
}

.front-page-text14 {
  top: -23px;
  color: rgba(64, 55, 28, 1);
  width: 495px;
  height: auto;
  z-index: 1;
  position: absolute;
  font-size: 100px;
  font-style: Regular;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 400;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}

.front-page-text15 {
  top: 100px;
  color: rgba(64, 55, 28, 1);
  width: 404px;
  height: auto;
  z-index: 2;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 400;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}

.front-page-button11 {
  gap: 8.333333015441895px;
  text-decoration: none;
  width: 150px;
  height: 50px;
  display: flex;
  padding: 20px 30px;
  z-index: 3;
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(250, 231, 201, 1);
}

.front-page-text16 {
  color: rgba(64, 55, 28, 1);
  height: auto;
  font-size: 25px;
  font-style: italic;
  text-align: center;
  font-family: EB Garamond;
  font-weight: 400;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}

.front-page-button21 {
  gap: 8.333333015441895px;
  width: 150px;
  height: 50px;
  display: flex;
  padding: 20px 30px;
  z-index: 4;
  text-decoration: none;
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(250, 231, 201, 1);
}

.front-page-text17 {
  color: rgba(64, 55, 28, 1);
  height: auto;
  font-size: 25px;
  font-style: italic;
  text-align: center;
  font-family: EB Garamond;
  font-weight: 400;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}

.front-page-openingtimes {
  gap: 30px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}

.front-page-addressandhours {
  width: 550px;
  gap: 40px;
  display: flex;
  padding: 90px 0 0 0;
  flex-grow: 1;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1.25px 0 0;
}

.front-page-address {
  gap: 8.333333015441895px;
  width: 310px;
  height: 123px;
  display: flex;
  padding: 0 0 0 10px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}

.front-page-text18 {
  color: rgba(64, 55, 28, 1);
  height: auto;
  font-size: 25px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 400;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}

.front-page-text19 {
  color: rgba(64, 55, 28, 1);
  height: auto;
  font-size: 25px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 400;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}

.front-page-hours {
  gap: 15.833333015441895px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.front-page-frame21472334941 {
  gap: 15px;
  display: flex;
  align-items: center;
}

.front-page-text20 {
  color: #41381c;
  font-family: "EB Garamond";
  font-size: 19px;
  font-style: italic;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.4px;
  text-align: justify;
  font-stretch: normal;
  text-decoration: none;
}

.front-page-date {
  display: block !important;
  position: relative !important;
  box-sizing: border-box;
  margin-bottom: 5px !important;
}

.front-page-image4761583115484411448856575193793752551072770n1 {
  width: auto;
  height: 640px;
  align-self: stretch;
  border-radius: 15px;
}

.front-page-main {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.front-page-headline1 {
  gap: 20px;
  display: flex;
  padding: 20px 50px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(186, 150, 134, 1);
  border-style: solid;
  border-width: 0.5px 0 0;
  justify-content: flex-end;
}

.front-page-image48664356030941238574061092220502136853509516n {
  width: 806px;
  height: 406px;
  border-radius: 10px;
}

.front-page-spacer {
  width: auto;
  height: auto;
  opacity: 0;
  flex-grow: 1;
  align-self: stretch;
}

.front-page-text34 {
  color: rgba(64, 55, 28, 1);
  width: 322px;
  height: auto;
  font-size: 30px;
  font-style: italic;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 400;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}

.front-page-menu {
  display: flex;
  padding: 0 50px 60px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.front-page-title {
  gap: 20px;
  display: flex;
  padding: 30px 0 60px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(186, 150, 134, 1);
  border-style: solid;
  border-width: 0.5px 0 0;
}

.front-page-text35 {
  color: rgba(64, 55, 28, 1);
  width: 854px;
  height: auto;
  font-size: 100px;
  font-style: Bold;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 700;
  line-height: 135.0000023841858%;
  font-stretch: normal;
  text-decoration: none;
}

.front-page-starters {
  gap: 20px;
  height: 799px;
  display: flex;
  padding: 100px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(186, 150, 134, 1);
  border-style: solid;
  border-width: 0.5px 0 0;
  justify-content: center;
}

.front-page-text36 {
  top: 61px;
  left: 60px;
  color: rgba(64, 55, 28, 1);
  width: 630px;
  height: auto;
  position: absolute;
  font-size: 80px;
  font-style: Bold;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 700;
  line-height: 135.0000023841858%;
  font-stretch: normal;
  text-decoration: none;
}

.front-page-text37 {
  top: 194px;
  left: 104px;
  color: rgba(64, 55, 28, 1);
  width: 322px;
  height: auto;
  z-index: 1;
  position: absolute;
  font-size: 30px;
  font-style: italic;
  text-align: left;
  font-family: EB Garamond;
  font-weight: 400;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}

.front-page-image4919234496046220892675623046731925482577444n1 {
  top: 96px;
  left: 638px;
  width: 477px;
  height: 637px;
  z-index: 2;
  position: absolute;
}

.front-page-headline2 {
  gap: 60px;
  display: flex;
  padding: 100px 50px 80px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  border-color: rgba(186, 150, 134, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}

.front-page-textcontent2 {
  gap: 60px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.front-page-text38 {
  color: rgb(64, 55, 28);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 110.00000238418579%;
}

.front-page-buttons2 {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}

.front-page-button12 {
  gap: 8.333333015441895px;
  display: flex;
  padding: 20px 30px;
  align-items: center;
  border-radius: 2px;
  flex-direction: column;
  background-color: var(--dl-color-accent-accent1);
}

.front-page-text39 {
  color: var(--dl-color-text-link2);
  height: auto;
  text-align: center;
  line-height: 110.00000238418579%;
}

.front-page-button22 {
  gap: 8.333333015441895px;
  display: flex;
  padding: 20px 30px;
  align-items: center;
  border-radius: 2px;
  flex-direction: column;
  background-color: var(--dl-color-accent-accent1);
}

.front-page-text40 {
  color: var(--dl-color-text-link2);
  height: auto;
  text-align: center;
  line-height: 110.00000238418579%;
}

.front-page-footer {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  box-sizing: border-box;


  gap: 100px;
  height: auto;
  display: flex;
  padding: 50px 50px 0;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(24, 11, 5, 0.6);
  margin-top: auto;
  z-index: 1;
}

.front-page-innercontent {
  gap: 198px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}

.front-page-textcontent3 {
  gap: 76px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}

.front-page-frame2147236495 {
  gap: 60px;
  width: 552px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.front-page-text41 {
  color: var(--dl-color-text-link2);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 135.0000023841858%;
}

.front-page-frame2147233497 {
  gap: 40px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}

.front-page-frame2147233489 {
  gap: 8.333333015441895px;
  width: 100px;
  height: 44.33333206176758px;
  display: flex;
  position: relative;
  align-items: flex-start;
}

.front-page-text42 {
  color: var(--dl-color-text-link2);
  width: 100px;
  height: auto;
  position: absolute;
  align-self: stretch;
  text-align: left;
  line-height: 110.00000238418579%;
}

.front-page-frame21472334942 {
  gap: 15.833333015441895px;
  display: flex;
  align-items: center;
}

.front-page-text44 {
  color: var(--dl-color-text-link2);
  height: auto;
  text-align: left;
  line-height: 110.00000238418579%;
}

.front-page-wordmarkandlegl {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}

.front-page-legalinfo {
  gap: 10px;
  display: flex;
  padding: 0 50px 20px 0;
  align-self: stretch;
  align-items: flex-end;
  justify-content: center;
}

.front-page-text58 {
  color: var(--dl-color-text-link2);
  height: auto;
  text-align: left;
  line-height: 110.00000238418579%;
}

.front-page-link2 {
  display: contents;
}

.front-page-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}

.front-page-icon1 {
  width: 24px;
  margin-right: 4px;
}

.front-page-text59 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.front-page-button-row {
  display: flex;
  gap: 16px;
  align-items: center;
  z-index: 3;
}

.front-page-button-row .front-page-button11,
.front-page-button-row .front-page-button21 {
  display: flex;
  align-items: center;
  justify-content: center;
}
